################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ragna/CopilotIndices/17.14.734.62261
/.vs/Ragna/FileContentIndex
/.vs
/.idea
/__pycache__
/routes/__pycache__
/Processors/__pycache__
/pdf_store/LIcPaymentReceipt_35934665
